@import 'variables';

$header-height: 3.5rem;

.player-table {
  margin: $header-height auto 0;
  max-width: 50rem;
  padding: $header-height 0;

  td {
    padding: 0.5rem 2rem 0.5rem 0;
  }

  td:nth-child(2) {
    width: 100%;
  }

  .action-icon {
    cursor: pointer;
  }

  .country {
    align-items: center;
    display: flex;
    height: 100%;

    .avatar {
      margin-right: 0.5rem;
    }
  }
}
