@import 'variables';

$header-height: 3rem;

.player-table {
  margin: $header-height auto 0;
  max-width: 50rem;
  padding: $header-height 0;

  &__toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    > .title {
      align-self: center;
      font-size: 1.5rem;
    }
  }

  .empty-body {
    text-align: center;
  }

  .action-icon {
    cursor: pointer;
  }

  .country {
    align-items: center;
    display: flex;
    height: 100%;

    > .avatar {
      margin-right: 0.5rem;
    }
  }

  td {
    padding: 0.5rem 2rem 0.5rem 0.75rem;

    &:nth-child(2) {
      width: 100%;
    }
  }
}
